<nav class="navbar navbar-expand-lg navbar-dark bg-primary-custom py-3">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="assets/imep-logo.png" alt="imep" width="80" height="70" class="me-2">
      <span class="fs-4 fw-bold">IMEP</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/cursos">Cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/contato">Contato</a>
        </li>
      </ul>
      <a href="#" class="btn btn-success ms-3" target="_blank">Whatsapp</a>
    </div>
  </div>
</nav>