.bg-primary-custom {
  background-color: #0b2545 !important;
}
.btn-success {
  background-color: #4CAF50 !important;
  border-color: #4CAF50 !important;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}