<footer class="footer-custom py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-4">
        <img src="assets/imep-logo.png" alt="imep Logo" class="mb-3" style="max-width: 150px;">
        <p class="text-white-50">
          O IMEP CURSOS – Instituto Mirai de Ensino Profissionalizante.
        </p>
      </div>

      <div class="col-md-4 mb-4">
        <h5 class="text-white mb-3">LINKS RÁPIDOS</h5>
        <ul class="list-unstyled">
          <li><a class="nav-link text-white-50 text-decoration-none" routerLink="home">Home</a></li>
          <li><a class="nav-link text-white-50 text-decoration-none" routerLink="/cursos">Cursos</a></li>
          <li><a class="nav-link text-white-50 text-decoration-none" routerLink="/contato">Contato</a></li>
          <li><a class="nav-link text-white-50 text-decoration-none" routerLink="/sobre">Sobre</a></li>
        </ul>
      </div>

      <div class="col-md-4 mb-4">
        <h5 class="text-white mb-3">Endereço</h5>
        <p class="text-white-50 mb-1">Av. Comercial, 2081 - sala 102 - Centro, Brasília - DF, 71691-083</p>

        <h5 class="text-white mt-4 mb-3">Telefone</h5>
        <p class="text-white-50 mb-1">(61) 99373-3542
          <a href="https://api.whatsapp.com/send?phone=5561993733542" class="text-white-50 text-decoration-none">(Whatsapp)</a>

        </p>

        <h5 class="text-white mt-4 mb-3">E-mail</h5>
        <p class="text-white-50 mb-1"><a href="mailto:email do imep" class="text-white-50 text-decoration-none">email do
            imep</a></p>
      </div>
    </div>
  </div>

  <div class="footer-bottom-bar text-center py-3">
    <p class="mb-0 text-white-50">
      &copy; {{ currentYear }} Todos os direitos reservados. Desenvolvido por
      <a href="https://www.linkedin.com/in/mateus10rg/" class="text-white-50 text-decoration-none">Mateus Rodrigues</a>
    </p>
  </div>
</footer>