// src/app/cursos/cursos.component.scss

.btn-filtro {
  margin: 0.25rem;
  border: 1px solid #dee2e6;
  background-color: #f8f9fa;
  color: #343a40;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #e2e6ea;
  }
}

.btn-filtro.active {
  background-color: #0d2a45; // Cor primária do seu site
  color: #ffffff;
  border-color: #0d2a45;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 70px 0;
}
