<div class="container my-5">
    <h1 class="texte-center fw-bold mb-4">Fale Conosco
    </h1>
    <p class="texte-center text-muted mb-5">
        Envie sua mensagem e retornaremos o mais rápido possível!
    </p>

    <form>
        <div class="mb-3">
            <label for="nome" class="form-label">Seu Nome</label>
            <input type="text" class="form-control" id="nome" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Seu E-mail</label>
            <input type="text" class="form-control" id="email" required>
        </div>
        <div class="mb-3">
            <label for="mensagem" class="form-label">Mensagem</label>
            <input type="text" class="form-control" id="mensagem" required>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg rounded-pill px-5 py-3 mt-3">
                Enviar Mensagem
            </button>
        </div>
    </form>
    <div class="row justify-content-center my-5">
        <div class="col-md-10">
            <h2 class="text-center fw-bold mb-4">Nossa Localização</h2>

            <div class="d-flex justify-content-center">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d239.8181817270758!2d-47.77235731890015!3d-15.904307626741593!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a21c844010185%3A0xafe8598328596e0e!2sIMEP%20CURSOS!5e0!3m2!1spt-BR!2sbr!4v1755811187330!5m2!1spt-BR!2sbr"
                    width="70%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        </div>
    </div>
</div>