.card-missao {
    background-color: #0d2a45;
}

.card-visao {
    background-color: #0d2a45;
}

.card-valores {
    background-color: #0d2a45;
}

.text-white-50 {
    color: rgba(255, 255, 255, 0.7);
}
.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 70px 0;
}
.justificado {
    text-align: justify;
}
.row {
    margin-right: 70px;
    margin-left: 70px;
}