<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center fw-bold mb-4">Sobre o IMEP</h1>
    </div>
  </div>
</div>

<div class="row my-5">
<div class="col-md-4 mb-4">
<div class="card card-missao text-center p-4 rounded-4 h-100">
<h3 class="text-white fw-bold mb-3">MISSÃO</h3>
<p class="text-white-50 mb-0">Ser um agente transformador dos sonhos dos nossos alunos em realidade, através da educação profissional.</p>
</div>
</div>
<div class="col-md-4 mb-4"> 
<div class="card card-visao text-center p-4 rounded-4 h-100">
<h3 class="text-white fw-bold mb-3">VISÃO</h3>
<p class="text-white-50 mb-0">Aspira até 2030 ser reconhecido como uma escola de referência em informática e formação profissional em todo distrito federal</p>
</div>
</div>
<div class="col-md-4 mb-4">
<div class="card card-valores text-center p-4 rounded-4 h-100">
<h3 class="text-white fw-bold mb-3">VALORES</h3>
<p class="text-white-50 mb-0"><b>Respeito</b> <br> As individualidade e habilidades dos nossos alunos<br> 
    <b>Justiça</b><br> Por meio de um preço justo <b>Integridade</b> <br> Conduzir negócios de forma ética e transparente. <br>
    <b>Trabalho em equipe</b><br> Valorizar e desenvolver os colaboradores para alcançarmos nossos objetivos.</p>
</div>
</div>
</div>

