<div class="container my-5 justificado">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center fw-bold mb-4">Sobre o IMEP</h1>
      <p>
        O IMEP EDUCACIONAL – Instituto Multidisciplinar de Educação Profissional surgiu da experiência de 10 anos dos seus fundadores na área da Educação como Professor, Coordenador e Diretor na rede pública e particular de ensino.
      </p>
      <p>
        Com uma visão de inovação e excelência, o IMEP se destaca por oferecer cursos profissionalizantes que transformam o futuro dos seus alunos, preparando-os para os desafios do mercado de trabalho com competências técnicas e habilidades comportamentais.
      </p>
      <p>
        Nossa missão é democratizar o acesso à educação de qualidade, oferecendo um ambiente de aprendizado dinâmico e focado em resultados.
      </p>
    </div>
  </div>
</div>
<div class="row my-5">
  <div class="col-md-4 mb-4 ">
    <div class="card card-missao text-center p-4 rounded-4 h-100">
      <h3 class="text-white fw-bold mb-3">MISSÃO</h3>
      <p class="text-white-50 mb-0 ">Compromisso em fornecer educação de qualidade que transforma vidas e potencializa carreiras.</p>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card card-visao text-center p-4 rounded-4 h-100 ">
      <h3 class="text-white fw-bold mb-3">VISÃO</h3>
      <p class="text-white-50 mb-0">Ser referência nacional em educação superior, reconhecida pela inovação e excelência acadêmica.</p>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card card-valores text-center p-4 rounded-4 h-100">
      <h3 class="text-white fw-bold mb-3">VALORES</h3>
      <p class="text-white-50 mb-0">Foco no aluno, inovação contínua, ética, e responsabilidade social.</p>
    </div>
  </div>
</div>